body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f3ef;
  }
  
  .card-header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
  }
  
  .card-footer a {
    font-size: 0.9rem;
    color: #007bff;
  }
  
  .card {
    border-radius: 10px;
    overflow: hidden;
  }
  